body{
	margin:0px;
    margin-top: -17px;
    background-color: white;
}
section{
    width: 100%;
    /*height: 75vh;*/
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n){
    background-color: lightgray;
}
section:nth-child(2n+1){
    background-color: white;
}
.section-heading{
    font-weight: 400;
    padding: 20px 10px 10px;
    width: auto;
    
}
.section-heading span{
    font-size: 40px;
    color: rgb(33, 51, 155);
    display: inline-block;
    padding-top: 10px;
}
/*-------BODY HEADER-------*/
#body-header{
	height:65vh;
	background-image: url("../Images/macbook_mouse.jpg");
    background-size: cover;
    opacity: 0.8;
    background-position: center ;
    background-attachment: fixed;
}
/*-------FIRST-LIST-------*/
li{
    display: inline-block;
    color: white;
    padding: 20px ;
    font-size: large;
    margin:0px 30px;
    margin-top: 17px;
}
li a:hover{
    text-decoration: underline;
    color: lightgray;
    transition: color 0.5s;
}
/*-------Anchor Tag-------*/
a{
    color: white;
    text-decoration: none;
}
/*-------text-center-------*/
.text-center{
    text-align: center;
}
/*-------head-------*/
h1{
    color: white;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
#social-name{
    margin-top: 20vh    ;
}
#social-icons{
    margin-top:-40px;  
    border:2px soild red;
}
#social-icons li{
    border-radius: 50%;
}
#social-icons ul li{
    display: inline-block;
}
#social-icons ul li img{
    width: 1rem;
    padding: 1vw;
    
}
#social-icons ul li a{
    border-radius: 50%;
}

#social-icons ul li:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}
/*-----About-----*/

#about{
  height: auto;
  width: 100%;
}
#my-img{
  margin: auto;
  text-align: center;
  height: 12rem;
  width: 12rem;
  margin-top: -7%;
  position: relative;
}
#my-img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 4px;
  box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}
#para{
    margin: auto;
    color:grey;
    width:70%;
    text-align: justify;
    font-size: 1.2rem;
}
/*-----SKILLS-----*/
.skills-display{
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}

.margin{
    margin-bottom: 4.5rem;
}

.skill-progress{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px 2px black;
    border: 1px solid grey;
    height: 30px;
    margin: 40px;
    width: 20%;
    color: white;
    background-color: White;

}
.skill-progress>div{
    border-radius: 1rem;
}
.center div{
    display: flex;
    margin-left: 7px;
}

.skill-name span{
    color: white;
    font-size: 24px;
}
/*----- Percentage -----*/
.eighty-percent{
    width: 80%;
    height: inherit;
    background-color: rgb(43, 43, 132);
    border-radius: 1rem;
}

.fifty-percent{
    width: 50%;
    height: inherit;
    background-color: rgb(255, 111, 0);
    border-radius: 1rem;
}
.sixty-percent{
    width: 60%;
    height: inherit;
    background-color: purple ;
    border-radius: 1rem;
}

/*-----Portfolio-----*/

.portfolio-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 50px;
    margin-bottom: 20px;
    align-items: center;
    
    
}
.img-container{
    overflow: hidden;
    background-size: cover;
    max-width: 300px;
    margin: 10px;
    background-repeat: no-repeat;
    position: relative;
}
.img-container img{
    height: 100%;
    width: 100%;
}
.project-name{
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    padding: 10px;
    width: 100%;
    height: 100%;

}
.img-container:hover{
    box-shadow: 0 0 20px #74adc8;
}
.img-container:hover .project-name{
    background-color: #80808078;
        color: white;
}
.project-name p{
    font-size: 40px;
    text-align: center;
}

/*-----Contact-----*/
#contact{
    background-image: linear-gradient(45deg,rgb(22, 22, 149),rgb(66, 6, 66));
}
#contact h1 span{
    color: white;
}
#details{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 80px;
    border: 10px solid cyan;
    width: 70%;
}
#details div{
    color: white;
}
#contact-details{
    margin: 10%;
    font-size: 40px;
}
#message form input{
    font-size: 40px;
}
