body{
	margin:0px;
    margin-top: -17px;
    background-color: white;
}
section{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-----Pseudo Class-----*/
section:nth-child(2n){
    background-color: lightgray;
}
section:target{
    background-color: cyan;
}
section:nth-child(2n+1){
    background-color: white;
}
.section-heading{
    font-weight: 400;
    padding: 20px 10px 10px;
    width: auto;
    
}
.section-heading span{
    font-size: 40px;
    color: rgb(33, 51, 155);
    display: inline-block;
    padding-top: 10px;
}
/*-------BODY HEADER-------*/
#body-header{
	height:65vh;
	background-image: url("../Images/macbook_mouse.jpg");
    background-size: cover;
    opacity: 0.8;
    background-position: center ;
    background-attachment: fixed;
}
/*-------FIRST-LIST-------*/
li{
    display: inline-block;
    color: white;
    padding: 20px ;
    font-size: large;
    margin:0px 30px;
    margin-top: 17px;
}
li a:hover{
    text-decoration: underline;
    color: lightgray;
    transition: color 0.5s;
}
/*-------Anchor Tag-------*/
a{
    color: white;
    text-decoration: none;
}
/*-------text-center-------*/
.text-center{
    text-align: center;
}
/*-------head-------*/
h1{
    color: white;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
#social-name{
    margin-top: 20vh    ;
}
#social-icons{
    margin-top:-40px;  
    border:2px soild red;
}
#social-icons li{
    border-radius: 50%;
}
#social-icons ul li{
    display: inline-block;
}
#social-icons ul li img{
    width: 1rem;
    padding: 1vw;
    
}
#social-icons ul li a{
    border-radius: 50%;
}

#social-icons ul li:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}
/*-----About-----*/

#about{
  height: auto;
  width: 100%;
}
#my-img{
  margin: auto;
  text-align: center;
  height: 12rem;
  width: 12rem;
  margin-top: -7%;
  position: relative;
}
#my-img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 4px;
  box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}
#para{
    margin: auto;
    color:grey;
    width:70%;
    text-align: justify;
    font-size: 1.2rem;
}
/*-----SKILLS-----*/
#skills{
    height: auto;
}
.skills-display{
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}

.margin{
    margin-bottom: 4.5rem;
}

.skill-progress{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px 2px black;
    border: 1px solid grey;
    height: 30px;
    margin: 40px;
    width: 20%;
    color: white;
    background-color: White;

}
.skill-progress>div{
    border-radius: 1rem;
}
.center div{
    display: flex;
    margin-left: 7px;
}

.skill-name span{
    color: white;
    font-size: 24px;
}
/*----- Percentage -----*/
.eighty-percent{
    width: 80%;
    height: inherit;
    background-color: rgb(43, 43, 132);
    border-radius: 1rem;
}

.fifty-percent{
    width: 50%;
    height: inherit;
    background-color: rgb(255, 111, 0);
    border-radius: 1rem;
}
.sixty-percent{
    width: 60%;
    height: inherit;
    background-color: purple ;
    border-radius: 1rem;
}
/*------Timeline------*/
#education{
    height: auto;
    margin-bottom: 50px;
}
.timeline{
    position: relative;
    width: 75%;
}
.timeline-box{
    position: relative;
    width: 40%;
    left:5%;
    margin: 5px;
    min-height: 150px;
}


.timeline-box:nth-child(2n+1):after{
    content: '';
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    position: absolute;
    top: 20%;
    right: -12.5%;
    z-index: 1;
}
.timeline-box:nth-child(2n):after{
    content: '';
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    position: absolute;
    top: 8%;
    left: -9.25%;
    z-index: 1;
}
.timeline-box:nth-child(2n){
    left:53%;
}
.timeline-divider{
    position: absolute;
    height: 70%;
    width: 0;
    border: 1px dashed #0096fa6b;
    left: 50%;
    top: 7%;
}
.timeline-traveller{
    position: sticky;
    top: 25%;
    transform: rotate(90deg);
}

/*-----Portfolio-----*/
#portfolio{
    height: auto;
}
.portfolio-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 50px;
    margin-bottom: 20px;
    align-items: center;    
}
.img-container{
    overflow: hidden;
    background-size: cover;
    max-width: 300px;
    margin: 10px;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}
.img-container img{
    height: 100%;
    width: 100%;
}
.project-name{
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    padding: 10px;
    width: 100%;
    height: 100%;

}
.img-container:hover{
    box-shadow: 0 0 20px #74adc8;
}
.img-container:hover .project-name{
    background-color: #80808078;
    color: white;
}
.project-name p{
    font-size: 40px;
    text-align: center;
}
/*-----Contact-----*/
#contact{
    background-image: linear-gradient(to right top,rgb(22, 22, 149),rgb(66, 6, 66));
    height: auto;
}
#contact h1 span{
    color: white;
}
#details{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 80%;
}

#details>div{
    margin: 10px;
    margin-left: 4rem;
}
#details div{
    color: white;
}
#contact-details{
    margin: 10%;
    font-size: 40px;
}
#message form input{
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    margin-top: 100px;
    width: 350px;
    background-color: transparent;
    color: white;
    
}
#message form textarea{
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    margin-top: 100px;
    width: 350px;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid grey;
}
#message form button{
    margin-top: 30px;
    align-items: center;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}
#contact-details p span{
    font-size: 20px;
}
#contact-details p{
    margin-left:auto;
    margin-top: -45px;
}
section:target{
    background-color: cyan;
}
#certificates{
    height: auto;
}
#certificates .img-container:hover .project-name{
    background-color: #00000078;
    color: white;
}
#experience{
    position: fixed;
    height: auto;
    margin-bottom: 50px;

}